.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  gap: 20px;
}
.navLink {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  transform: all 0.3s;
}

.active {
  background-color: rgb(228, 79, 86);
  color: white;
}
